body{
    background-color: #000000;
}

p {
  color: white;
  margin-left: 10px;
}

body {
  font-family: 'Orbitron', sans-serif;
}

nav {
  background-color: rgb(0, 47, 255);
}

.navegacao a{
  list-style-type: none;
  text-decoration: none;
  color: yellow;
}

h1, h2, h3 {
  color: yellow;
  margin-left: 10px;
}

footer {
  color: orange;
}